@media (min-width: 767px) {
    .contact-form {
        width: 600px;
        margin-top: 30px;
        margin-left: auto;
        margin-right: auto;
        background: #fff;
        padding: 10px;
    }

    .contact-form h1 {
        font-size: 18px;
        margin-bottom: 30px;
        text-align: center;
    }

    .contact-form label {
        font-size: 10px;
    }

    .contact-form input {
        color: #495057;
        /*background-color: #f0f8ff;*/
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: 0.25rem;
    }

    .name-form {
        margin-bottom: 15px;
    }

    .name {
        float: left;
    }

    .mail-form {
        margin-bottom: 15px;
    }

    .mail-form input {
        width: 300px;
    }

    .body-form textarea {
        width: 580px;
        height: 200px;
        border-radius: 0.25rem;
    }

    .contact-form-button {
        float: right;
        margin-top: 30px;
        width: 70px;
    }

    .contact-complete-main {
        background: #fff;
        width: 600px;
        margin-top: 50px;
        margin-bottom: 180px;
    }

    .contact-complete-text {
        margin-left: 40px;
        font-size: 14px;
        margin-top: 30px;
    }

    .go-top-page{
        float: right;
        margin-top: 20px;
        margin-right: 20px;
    }

}

@media (max-width: 479px) {
    .contact-form {
        margin-top: 30px;
        margin-left: auto;
        margin-right: auto;
        background: #fff;
        padding: 10px 30px;
    }

    .contact-form h1 {
        font-size: 18px;
        margin-bottom: 30px;
        text-align: center;
    }

    .contact-form input {
        border: solid 1px #ccc;
        border-radius: 0.25rem;
    }

    .name-form {
        margin-bottom: 15px;
    }

    .mail-form {
        margin-bottom: 15px;
    }

    .mail-form input {
        width: 300px;
    }

    .body-form textarea {
        width: 315px;
        height: 200px;
        border: solid 1px #ccc;
        border-radius: 0.25rem;
    }

    .contact-form-button {
        float: right;
        margin-top: 20px;
        margin-bottom: 30px;
        width: 70px;
    }

    .error {
        margin-left: 30px;
    }

    .contact-complete-main {
        background: #fff;
        margin-top: 50px;
        margin-bottom: 180px;
    }

    .contact-complete-text {
        margin-left: 30px;
        font-size: 14px;
        margin-top: 30px;
    }

    .go-top-page{
        margin-left: 30px;
        margin-top: 20px;
    }
}





