.evaluation-content {
    margin-top: 15px;
}

.evaluation-content label {
    padding: 15px 10px 0px 10px;
}

.evaluation-content select {
    height: 40px;
    padding: 15px;
    margin-left: 10px;
    margin-right: 10px;
}

.evaluation-form-button {
    margin-left: auto;
    margin-right: 11rem;
    margin-top: 15px;
    margin-bottom: 10px;
}
