.mvp-card {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    border: solid 1px #ccc;
    background-color: #fff;
    text-align: center;
    font-size: 18px;
}

.evaluation-card-left {
    float: left;
    width: 250px;
    border: solid 1px #ccc;
    background-color: #fff;
    /*text-align: center;*/
    font-size: 15px;
    /*display: inline-block;*/
}


.evaluation-card-right {
    /*float: right;*/
    width: 250px;
    border: solid 1px #ccc;
    background-color: #fff;
    /*text-align: center;*/
    font-size: 15px;
    display: inline-block;
    margin-left: 50px;
}

.users-card-left {
    float: left;
    width: 250px;
    border: solid 1px #ccc;
    background-color: #fff;
    /*text-align: center;*/
    font-size: 15px;
}


.users-card-right {
    /*float: right;*/
    width: 250px;
    border: solid 1px #ccc;
    background-color: #fff;
    /*text-align: center;*/
    font-size: 15px;
    display: inline-block;
    margin-left: 50px;

}




