@media (min-width: 767px) {

    .matchReviewMain {

        width: 560px;
        margin-left: 240px;

    }

    .evaluationCard {

        margin-top: 30px;
        margin-bottom: 20px;

    }

    .mvp-title {

        margin-bottom: 20px;
        margin-left: 5rem;

    }

    .mvp-card {
        width: 400px;
        margin-left: auto;
        margin-right: auto;
        border: solid 1px #ccc;
        border-radius: 3px;
        background-color: #fff;
        text-align: center;
        font-size: 18px;
    }

    .user_name {

        padding-left: 10px;
        text-decoration: none;

    }

}

/*モバイル対応*/
@media (max-width: 479px) {

    .matchReviewMain {


    }

    .evaluationCard {

        margin-top: 30px;
        margin-bottom: 20px;

    }

    .mvp-title {

        margin-bottom: 20px;
        margin-left: 5rem;

    }

    .mvp-card {
        width: 300px;
        margin-left: auto;
        margin-right: auto;
        border: solid 1px #ccc;
        border-radius: 3px;
        background-color: #fff;
        text-align: center;
        font-size: 18px;
    }

    .user_name {

        padding-left: 10px;
        text-decoration: none;

    }
}




