@media (min-width: 767px) {
    .team-card {
        border: solid 1px #ccc;
        background-color: #fff;
        margin-top: 30px;
        margin-left: 50px;
        width: 300px;
        text-align: center;
        height: 150px;
        padding-top: 20px;
        font-size: 18px;
        border-radius: 10px;
        display: inline-block;
    }

    .players-card {
        border: solid 1px #ccc;
        background-color: #fff;
        margin-top: 30px;
        margin-left: 50px;
        margin-bottom: 50px;
        width: 300px;
        font-size: 14px;
        border-radius: 10px;
        float: left;
        padding: 15px 0px;
    }

    .player-text {
        margin-left: 30px;
        margin-right: 30px;
        display: flex;
        border-bottom: solid 1px #ccc;
        padding: 2px;
    }

    .supporters-count {
        margin-top: 30px;
        font-size: 15px;
    }

    .information-card {
        border: solid 1px #ccc;
        background-color: #fff;
        margin-top: 30px;
        margin-right: 70px;
        width: 550px;
        text-align: center;
        height: 150px;
        padding-top: 20px;
        font-size: 18px;
        border-radius: 10px;
        float: right;
    }

    .user-card {
        border: solid 1px #ccc;
        background-color: #fff;
        margin-top: 30px;
        margin-right: 70px;
        width: 550px;
        font-size: 16px;
        border-radius: 10px;
        float: right;
        padding: 15px;
    }

    .post-list {
        border-bottom: solid 1px #ccc;
        padding-bottom: 3px;
        margin: 7px 7px;
    }

    .post-list-username {
        display: block;
        margin-bottom: 3px;
        padding-left: 15px;
    }

    .post-list-information{
        font-size: 11px;
        padding-left: 15px;
    }

    .post-list a:hover {
        color: black;
    }
}

@media (max-width: 479px) {
    .team-card {
        border: solid 1px #ccc;
        background-color: #fff;
        margin-top: 30px;
        margin-left: auto;
        margin-right: auto;
        width: 330px;
        text-align: center;
        height: 150px;
        padding-top: 20px;
        font-size: 18px;
        border-radius: 10px;
    }

    .players-card {
        display: none;
    }

    .supporters-count {
        margin-top: 30px;
        font-size: 15px;
    }

    .information-card {
        border: solid 1px #ccc;
        background-color: #fff;
        margin-top: 30px;
        margin-right: 70px;
        width: 550px;
        text-align: center;
        height: 150px;
        padding-top: 20px;
        font-size: 18px;
        border-radius: 10px;
        float: right;
    }

    .user-card {
        border: solid 1px #ccc;
        background-color: #fff;
        margin-top: 30px;
        margin-right: auto;
        margin-left: auto;
        width: 330px;
        font-size: 16px;
        border-radius: 10px;
        padding: 15px;
    }

    .post-list {
        border-bottom: solid 1px #ccc;
        padding-bottom: 3px;
        margin: 7px 7px;
    }

    .post-list-username {
        display: block;
        margin-bottom: 3px;
        padding-left: 15px;
    }

    .post-list-information{
        font-size: 11px;
        padding-left: 15px;
    }

    .post-list a:hover {
        color: black;
    }
}



